# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\淘宝马桶商品数据爬虫\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
